$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Plus Jakarta Sans", sans-serif;
$tittle-color: #13183F;
$p-color: #83869A;


$orange: #FA504D;
$blue: #666CA3;
$darkblue: #13183F;
$grey: #83869A;
$magenta: #F74780;
$pink: #FFA7C3;
$white: #FFFFFF;
$white2: #F5F5F5;
$gradient-red: linear-gradient(#FF6F48 0%, #F02AA6  100%);
$gradient-blue: linear-gradient(#4851FF 0%, #F02AA6 100%);