footer {
    background-color: $darkblue;
    padding: 45px 20px;
    width: 100%;
    
    @include breakpoint(tablet) {
        width: 100%;
        padding: 35px 40px;
    }
    @include breakpoint(desktop) {
        width: 100%;
        padding: 35px 200px;
    }
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer .btn4 {
    display: inline-block;
    background: $gradient-blue;
    padding: 16px 30px;
    color: $white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 30px;
    &:active {
        background: linear-gradient(rgba(108, 115, 255,) 0%, rgb(234, 119, 192) 70%);
    }
}

